# Audios y videos
*.mp3
*.m4a
*.wav
*.mp4
*.mov

# Carpeta temporal
temp/
*.tmp

# Logs
*.log
npm-debug.log*

# Archivos del sistema
.DS_Store
Thumbs.db

# Node.js
node_modules/
.env

# Archivos de compilación
dist/
build/

# Respaldos
*.bak
*.old
node_modules/
sessions/
.env

#Python enviroment
venv/
__pycache__/
*.pyc

#PandaLove project
PandaLove/

#auth_info
auth_info/